/*
 * 变量命名规范：--组件-描述-修饰 eg: --font-color-default
 * 分组方式：全局通用（不在组件内使用） & 组件分组（组件内使用）
 */
:root {
  /* Colors - 告警颜色/主要颜色
  * 在线颜色命名工具：http://chir.ag/projects/name-that-color/#6195ED
  * 注意：不在组件内直接使用以下颜色值
  ---------------------------- */
  --gray: #4d4e4e; /* 基础颜色 -- 灰色 */
  --silver: #cccccc; /* 基础颜色 -- 银色 */
  --light-gray: #f6f6f6; /* 基础颜色 -- 浅灰色 */
  --red: #ff0000; /* 基础颜色 -- 红色 */
  --black: #000000; /* 字体颜色 -- 黑色 */
  --white: #ffffff; /* 基础颜色 -- 白色 */

  --color-primary: #4a90e2; /* 链接高亮等样色 */
  --color-primary-light-1: color-mod(#4a90e2 blend(white 10%));
  --color-primary-light-2: color-mod(#4a90e2 blend(white 20%));
  --color-primary-light-3: color-mod(#4a90e2 blend(white 30%));
  --color-primary-light-4: color-mod(#4a90e2 blend(white 40%));
  --color-primary-light-5: color-mod(#4a90e2 blend(white 50%));
  --color-primary-light-6: color-mod(#4a90e2 blend(white 60%));
  --color-primary-light-7: color-mod(#4a90e2 blend(white 70%));
  --color-primary-light-8: color-mod(#4a90e2 blend(white 80%));
  --color-primary-light-9: color-mod(#4a90e2 blend(white 90%));

  --color-success: #66ccff; /* 成功状态的颜色 */
  --color-warning: #e6a23c; /* 告警状态的颜色 */
  --color-error: #f56c6c; /* 失败状态的颜色 */
  --color-info: #909399;

  --color-success-light: color-mod(#66ccff blend(white 80%));
  --color-warning-light: color-mod(#e6a23c blend(white 80%));
  --color-error-light: color-mod(#f56c6c blend(white 80%));
  --color-info-light: color-mod(#909399 blend(white 80%));

  --color-success-lighter: color-mod(#99cc33 blend(white 90%));
  --color-warning-lighter: color-mod(#e6a23c blend(white 90%));
  --color-error-lighter: color-mod(#f56c6c blend(white 90%));
  --color-info-lighter: color-mod(#909399 blend(white 90%));

  --color-warning-bg: color-mod(#e6a23c blend(white 60%)); /* 告警状态 - 背景色 */

  --color-form-hover: #EFF4FA;

  /* 威胁等级颜色值控制 */
  --color-emergency: #f3613b; /* 危机 */
  --color-high: #f58719; /* 高 */
  --color-medium: #ffca3a; /* 中 */
  --color-low: #28a8ef; /* 低 */
  --color-info-extra: #7b8ca1; /* 信息 */

  --color-emergency-light: color-mod(#f3613b blend(white 10%));
  --color-high-light: color-mod(#f58719 blend(white 10%));
  --color-medium-light: color-mod(#ffca3a blend(white 10%));
  --color-low-light: color-mod(#28a8ef blend(white 10%));
  --color-info-extra-light: color-mod(#7b8ca1 blend(white 10%));

  --color-emergency-lighter: color-mod(#f3613b blend(white 20%));
  --color-high-lighter: color-mod(#f58719 blend(white 20%));
  --color-medium-lighter: color-mod(#ffca3a blend(white 20%));
  --color-low-lighter: color-mod(#28a8ef blend(white 20%));
  --color-info-extra-lighter: color-mod(#7b8ca1 blend(white 20%));

  /* 文本颜色 */
  --color-text-primary: #5e6b7a;
  --color-text-regular: #7b8ca1;
  --color-text-secondary: #929fb4;
  --color-text-placeholder: #dde1e7;

  /* 边框颜色 */
  --border-color-base: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-extra-light: #f2f6fc;

  /* Body
  --------------------------- */
  --body-bg-color: #F4F6F9;

  /* Transition
  ------------------------------ */
  --transition-duration: 0.3s;
  --transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* Layout
  -------------------------- */
  --layout-gutter: 10px;
  --layout-transition: width var(--transition-duration) var(--transition-timing-function);

  /* Font
  -------------------------- */
  --font-color-default: #5e6b7a; /* 字体默认颜色 */
  --font-color-base: var(--white);
  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-16: 1.6rem;

  /* Icon
  -------------------------- */
  --icon-new-tag-color: #cf4343;

  /* Border
  -------------------------- */
  --border-width-base: 1px;
  --border-style-base: solid;
  --border-color-hover: var(--color-text-placeholder);
  --border-base: var(--border-width-base) var(--border-style-base) var(--border-color-base);
  --border-default: var(--border-width-base) var(--border-style-base) var(--border-color-base);
  --box-border-color: #d3d3d3;
  --border-radius-default: 2px;
  --border-radius-base: 2px;

  /* Switch
  -------------------------- */
  --switch-default-color: #999999;
  --switch-active-color: #5d87dd;
  --switch-border-color: #ebebeb;
  --switch-bg-color: #ebebeb;
  --switch-after-border-color: #5d87dd;
  --switch-after-bg-color: #5d87dd;

  /* input
  -------------------------- */
  --input-placeholder-color: #929fb4;
  --input-border-radius: var(--border-radius-default);
  --input-border-active-color: var(--color-primary);

  /* Textarea
  -------------------------- */
  --textarea-border-radius: var(--border-radius-default);

  /* Select
  --------------------------- */
  --select-font-color-active: var(--color-primary);
  --select-border-color-focus: var(--color-primary);

  /* Checkbox
  ------------------------------ */
  --checkbox-label-font-color-checked: var(--color-primary);
  --checkbox-input-bg-color-checked: var(--color-primary);
  --checkbox-input-border-color-hover: var(--color-primary);
  --checkbox-input-border-color-checked: var(--color-primary);

  /* Radio
  ------------------------------- */
  --radio-label-font-color-checked: var(--color-primary);
  --radio-input-bg-color-checked: var(--color-primary);
  --radio-input-border-color-checked: var(--color-primary);
  --radio-input-bg-checked-hover: var(--color-form-hover);
  /* Tag
  ------------------------------ */
  /* --tag-font-color: var(--color-primary);
  --tag-bg-color: var(--color-primary-light-1);
  --tag-border-color: var(--color-primary-light-2); */
  /* info */
  /* --tag-font-color-info: var(--color-info);
  --tag-bg-color-info: var(--color-info-light-1);
  --tag-border-color-info: var(--color-info-light-2); */

  /* Panel
  -------------------------- */
  --panel-bg-color-base: #f2f2f2;


  /* Button
  -------------------------- */
  --button-color: #5e6b7a;
  --button-border-radius: 4px;
  --button-font-color-hover: var(--color-primary);
  --button-border-color-hover: var(--color-primary-light-2);
  --button-text-color: #399cff;
  --button-hover-color: #c5e3fd;
  --button-delete-color: var(--color-error);
  --button-text-disabled-color: #cccccc;
  --button-default-color: #ffffff, #f6f6f6;
  --button-success-disabled-color: #e0f0c1;
  --button-warning-disabled-color: #fbdcca;
  --button-danger-disabled-color: #f1c6c6;
  --button-linear-gradient: (#fff, #f6f6f6);
  --button-icon-color: #7b8ca1;
  --button-icon-disabled-color: #dde1e7;
  --button-background-top-color: rgb(224, 188, 58);
  --button-background-bottom-color: #c48b1d;

  /* Table
  -------------------------- */
  --table-font-default: #3f3f3f; /*  表格内容颜色 */
  --table-header-font-color: #6B6B6B; /*  表格头部颜色 */
  --table-pagination-bg-color: #515151;
  --table-pagination-color: #515151; /*  分页按钮颜色 */
  --table-row-highlight-color: #c9e5f5; /* 表格高亮 */
  --stripe-table-header-bg-color: #f8faff; /* 斑马线表格头部背景色 */
  --stripe-table-row-bg-color: #f8faff; /* 斑马线表格隔行背景色 */
  --stripe-table-row-hover-bg-color: #f3f6ff; /* 斑马线表格悬停背景色 */
  --table-header-bg-color: #EFF1F4; /*表头背景颜色*/
  --table-border-color: #E6E6E6; /*表格框颜色*/
  --table-row-hover-bg-color: #EFF4FA; /*鼠标悬浮色*/
  /* input
  -------------------------- */
  --input-slot-color: #409eff;

  /* Tabs
  ------------------------------ */
  --tabs-font-color-active: var(--color-primary);

  /* z-index 等级控制
  popover( 2000开始累加) > menu > navigator = header  > loadding > 其他
  ----------------------------------*/
  /* --zindex-menu: 1999;
  --zindex-header: 1990;
  --zindex-navigator: 1990; */
  --alarm-loading-zindex: 2500; /*特殊控制，popover默认显示，所以loading层级应该大于popover*/
  
  /*
	header & Menu 尺寸控制，联动关系
  -------------------------- */
  /* --header-height: 50px;
  --menu-collapse-width: 62px;
  --menu-spread-width: 180px;
  --navigator-height: 45px; */

  /* header
  -------------------------- */
/*   --header-bg-color: #353535;
  --header-title-color: linear-gradient(180deg, #f1d89a, #907b3d);
  --header-border-color: rgba(36, 36, 36, 1);
  --header-txt-color: var(--white);
  --header-line-light: #444;
  --header-line-dark: #222; */

  /* navigator
   --------------------------*/
  /* --navigator-bg-color: rgba(250, 250, 250, 0.8);
  --navigator-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  --navigator-item-bg-color: #f1f1f1;
  --navigator-item-font-color: #666;
  --navigator-item-border-color: #d2d2d2;
  --navigator-item-bg-color-active: linear-gradient(180deg, #fee279, #e5a936);
  --navigator-item-font-color-active: #855f02;
  --navigator-item-border-color-active: #f0c152;
  --navigator-item-close-bg-hover: #aeafb1;
  --navigator-item-close-bg-active-hover: #baa265;
  --navigator-contextmenu-bg-color: var(--white);
  --navigator-contextmenu-bg-color-active: #eee;
  --navigator-contextmenu-font-color: #333;
  --navigator-contextmenu-icon-close-color: #cf4343;
  --navigator-contextmenu-icon-refresh-color: #5d87dd;
  --navigator-transition: left var(--transition-duration) var(--transition-timing-function); */

  /* module
  ---------------------------*/
  --module-display-background: #f5f5f5;

  /* 单值
  -------------------------- */
  --single-bg-color: linear-gradient(to bottom, #46bcff, #65cef6);
  --single-txt-color: #fff;
  --single-siring: #f76741;
  --single-drop: #056d9b;
  --single-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --single-icon-color: #858585;
  --single-icon-active-color: var(--font-color-default);
  --single-icon-bg-color: #f2f2f2;
  --single-border-color: #dfdfdf;
  --single-border-radius: var(--border-radius);
  --single-popover-bg-color: #f4f4f4;
  --single-popover-border-color: #d3d3d3;
  --single-popover-cancel-color: #eaebec;
  --single-popover-sure-color: #f4f4f4;

  /* Bullseye
  ------------------------------- */
  --bullseye-title-color: var(--bullseye-content-bg-color);
  --bullseye-content-bg-color: rgba(51, 204, 204, 1);
  --bullseye-content-bg-color1: rgba(51, 204, 204, 0.4);
  --bullseye-content-bg-color2: rgba(51, 204, 204, 0.2);
  --bullseye-content-font-color: var(--white);

  /* tree-select
  ------------------------------- */
  --select-cover-color: #606266;
  --select-cover-border-color: #dcdfe6;
  --select-hover-color: #409eff;
  --select-txt-color: #c4c8cf;

  /* Input-tag
  ------------------------------- */
  --input-tag-color: #409eff;
  --input-tag-bg-color: #ecf5ff;
  --input-tag-border-color: #b3d8ff;

  /*
   新大盘
  -------------------------- */
  --insight-menu-background: #ffffff;
  --insight-menu-list-background: #f8f8f8;
  --insight-menu-list-item-border: #e1e1e1;
  --insight-menu-list-item-color: #333333;
  --insight-menu-list-add-icon-color: #d0d0d0;
  --insight-menu-list-item-edit-background: var(--white);
  --insight-menu-list-item-active-background: var(--white);

  --insight-menu-time-item-color: #666666;
  --insight-menu-time-item-border: #d2d2d2;

  --insight-dashboard-widget-background: var(--white);
  --insight-dashboard-widget-title-color: #6A7280;
  --insight-component-background: #ffffff;
  --insight-component-border: #e2e2e2;
  --insight-component-box-icon-color: #999999;
  --insight-component-box-text-color: #888888;
  --insight-active-color: #04a5f1;
  --insight-chart-text: #666666;
  --insight-chart-increase: #ff0000;
  --insight-chart-reduce: #5bdc3a;
  --insight-chart-disabled: #c8c9cc;
  --insight-filter-bg-color: #ebebeb;

  /*
   全文检索
  -------------------------- */
  --full-search-field-septal-line-color: rgba(204, 204, 204, 1);
  --full-search-field-border-color: rgba(204, 204, 204, 1);
  --full-search-field-checked: #48b1ff;

  /*
   详情看板
  -------------------------- */
  --event-board-form-bg-color: #f5f8ff;
  --ip-asset-board-border-color: rgba(204, 204, 204, 1);
  --ip-board-intelligence-form-item-border-color: #d3d3d3;

  /*
   模型监控
	-------------------------- */
  --run-state-background-color: #fef0f0;
  --stop-state-background-color: #ecf5ff;
  --run-state-border: 1px solid #fee2e1;
  --stop-state-border: 1px solid #b2d7ff;

  /*
   时间选择控件
  -------------------------- */
  --time-select-color: #666666;
  --time-select-border: #d2d2d2;
  --time-select-disabled-background: #f5f7fa;
  --time-select-disabled-border: #e4e7ed;
  --time-select-disabled-color: #c0c4cc;
  --time-select-display-background: #ffffff;
  --time-select-el-button-color: #666666;
  --time-select-el-button-color-hover: #5d87dd;
  --time-select-el-tabs-item-color: #606266;
  --time-select-el-tabs-item-hover: #5d87dd;
  --time-select-el-tabs-item-active: #5d87dd;

  /* 登录相关
  ----------------------------- */
  /* --login-bg: linear-gradient(to bottom, #434343, #333333, #242424);
  --login-font-color: #fff;
  --login-panel-bg-color: rgba(0, 0, 0, 0.1);
  --login-panel-border-color: #424242;
  --login-title-color: #ddbb61;
  --login-link-font-color: #fff;
  --login-input-border-color: #666;
  --login-input-font-color: #fff;
  --login-input-icon-color: #666;
  --login-button-bg: linear-gradient(to bottom, #e8d17f, #c48b1d);
  --login-button-font-color: #fff;
  --login-error-color: var(--color-error);
  --login-loading-bg: rgba(48, 48, 48, 0.8);
  --login-loading-progress-bg: #434343;
  --login-loading-progress: linear-gradient(to bottom, #e8d17f, #c48b1d); */

  /* 数据标签
  --------------------------------- */
  --dataLabel-bg-color: #fff;
  --dataLabel-border: var(--border-default);
  --dataLabel-label-bg-color: #eee;

  /* 资产管理 状态颜色
  --------------------------------- */
  --asset-online-bg-color: rgba(0, 128, 0, 1); /* 在线 */
  --asset-offline-bg-color: rgba(188, 188, 188, 1); /* 离线 */
  --asset-illegal-bg-color: rgba(207, 67, 67, 1); /* 非法资产 */

 /* 资产同步
  --------------------------------- */
  --asset-synchro-color: #e8ebf3;
  /* 资产生命周期报告 颜色
  --------------------------------- */
  --asset-detail-label-bg: rgba(242, 242, 242, 1);
  --asset-detail-content-bg: rgba(245, 245, 245, 1);

  /* 风控场景分析 颜色
  --------------------------------- */
  --wind-control-scene-color: #66ccff;

  /* idss-widget 
  --------------------------------- */
  --widget-margin: 0 10px 10px 0;
  --widget-bg-color: #fff;
  /* --widget-border: 1px solid #D3D3D3; */
  --widget-border: none;
  --widget-header-bg: rgb(255, 255, 255, 0);
  --widget-header-padding: 10px 15px;
  --widget-header-primary-border-bottom: 1px solid #d3d3d3;
  --widget-header-primary-bg: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 1) 0%, rgba(209, 209, 209, 1) 100%, rgba(209, 209, 209, 1) 100%);
  --widget-header-plain-border-bottom: 1px solid #d3d3d3;
  --widget-header-plain-border-bg: transparent;

  /* idss-steps-view 
  --------------------------------- */
  /* steps-list */
  --steps-list-description-color: #333;
  --steps-list-description-param-color: #fff;
  --steps-list-url-bg: #5d87dd;
  --steps-list-target-bg: #5d87dd;
  --steps-list-operation-bg: #f28c51;
  --steps-list-success-bg: #99cc33;
  --steps-list-error-bg: #cf4343;

  /* steps-table */
  --steps-table-description-bg: #008fff;
  --steps-table-description-color: #fff;
  --steps-table-sub-title-color: #000;

  /* idss-single-value 
  --------------------------------- */
  --single-value-title-value-background: #fff;
  --single-value-title-value-border-color: 1px solid #d3d3d3;
  --single-value-title-value-hover-background: #6299ec;
  --single-value-title-value-title-size: 14px;
  --single-value-title-value-value-size: 24px;
  --single-value-title-value-desc-size: 12px;
  --single-value-title-value-arrow-hover-color: #6299ec;

  --single-value-progress-background: #fff;
  --single-value-progress-border-color: 1px solid #d3d3d3;
  --single-value-progress-text-color: #5d87dd;
  --single-value-progress-title-size: 14px;
  --single-value-progress-unit-size: 12px;
  --single-value-progress-value-size: 26px;

  --single-value-panel-background: #fff;
  --single-value-panel-border-color: 1px solid #d3d3d3;
  --single-value-panel-name-size: 14px;
  --single-value-panel-value-size: 28px;
  --single-value-panel-right-name-size: 14px;

  --single-value-progress-subvalue-view-background: #f3613a;

  /* drag-container 
  --------------------------------- */
  --drag-container-border: 1px solid #d3d3d3;

  /* idss-rich-text
  --------------------------------- */
  --idss-rich-text-editor-bg: #fff;

  /* idss-slide-aside */
  --slide-aside-background-color: #fff;
  --slide-aside-border: 1px solid #d3d3d3;

  /* idss-muitl-tab */
  --idss-multi-tab-li-bg: #fff;
  --idss-multi-tab-bg: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 1) 0%, rgba(209, 209, 209, 1) 100%, rgba(209, 209, 209, 1) 100%);
  --idss-multi-tab-border-color: #ccc;
  --idss-multi-tab-ellipsis-tab-border-color: #ccc;

  /* idss-analytic-logic */
  --idss-analytic-logic-color: #64aadd;
  --idss-analytic-logic-svg-color: #e6f5ff;
  --idss-analytic-logic-svg-hover-color: #009cfb;
  --idss-analytic-logic-svg-hover-fill-color: #fff;
  --idss-analytic-logic-svg-delete-hover-fill-color: #ff6c6c;

  --idss-analytic-logic-btn-analyze-border-color: #80e0ee;
  --idss-analytic-logic-btn-analyze-border-color-hover: transparent;
  --idss-analytic-logic-btn-analyze-background: #e6f9fc;
  --idss-analytic-logic-btn-analyze-background-hover: #1a9efd;
  --idss-analytic-logic-btn-analyze-text-color: #12ccd7;
  --idss-analytic-logic-btn-analyze-text-color-hover: #fff;

  /* idss-ace-editor */
  --idss-ace-editor-wave-color: red;

  /* idsss-flow-chart 
    --------------------------*/
  --idss-flow-chart-bg: #fff;
  --idss-flow-chart-case-text-color: #929fb4;
  --idss-flow-chart-drop-bg: rgba(246, 249, 255, 1);
  --idss-flow-chart-drop-border: rgb(242, 242, 242);

  --idss-flow-chart-label-yes-color: #f58719;
  --idss-flow-chart-label-yes-border: rgba(245, 135, 25, 0.8);
  --idss-flow-chart-label-yes-bg: rgb(253, 243, 229);
  --idss-flow-chart-label-no-color: #f3613b;
  --idss-flow-chart-label-no-border: rgba(243, 97, 59, 0.8);
  --idss-flow-chart-label-no-bg: rgb(252, 237, 237);

  --idss-flow-chart-start-bg: #7a9af8;
  --idss-flow-chart-start-color: #fff;
  --idss-flow-chart-square-bg: #0099ff;
  --idss-flow-chart-square-color: #fff;
  --idss-flow-chart-rhombic-color: #f58719;

  --idss-flow-chart-content-type-border-color: #f2f2f2;
  --idss-flow-chart-content-color: #666;
  --idss-flow-chart-content-bg-color: #fff;

  /* 未执行 */
  --idss-flow-chart-square-todo-color: #d48806;
  /* 执行中 */
  --idss-flow-chart-square-execute-color: #4a90e2;
  /* 成功 */
  --idss-flow-chart-square-success-color: #08979c;
  /* 失败 */
  --idss-flow-chart-square-fail-color: #d4380d;
  /* 异常 */
  --idss-flow-chart-square-exception-color: #d4b106;

  /* 老板页 */
  --main-page-single-icon-orange-color: rgba(252, 190, 97, 1);
  --main-page-save-icon-blue-color: rgba(59, 156, 255, 1);
  --main-page-save-icon-red-color: rgba(246, 120, 119, 1);
  --main-page-save-circular-inner-color: rgba(126, 204, 255, 1);
  --main-page-save-circular-outer-color: rgba(179, 225, 255, 1);
  /* 系统管理-数据接入任务管理 */
  --idss-manage-taskTable-row-svg-color: #adadaf;
  --idss-manage-taskTable-row-blue-color: rgb(64, 158, 255, 0.1);
  --idss-manage-taskTable-row-green-color: rgb(85, 220, 212, 0.1);
  --idss-manage-taskTable-row-red-color: rgb(204, 153, 204, 0.1);
  --idss-manage-taskTable-row-regreen-color: #55dcd4;
  --idss-manage-taskTable-row-rered-color: #fdd9fd;

  /* 自定义下拉框样式 */
  --idss-custom-dropdown-wrapper-bg-color: rgba(77, 77, 77, 0.8);
  --idss-custom-dropdown-title-color: #5e6b7a;
  --idss-custom-dropdown-title-active-color: #399cff;
  --idss-custom-dropdown-checkbox-label-color: #fff;
  --idss-custom-dropdown-checkbox-label-disabled-color: #c0c4cc;
  --idss-custom-dropdown-button-text-color: #399cff;
  /* sop弹窗 =》 步骤分析详情滚动条颜色 */
  --sop-dialog-srcollbar-bg-color: rgba(0, 0, 0, 0.5);
  --executive-analysis-chart-right-bg-color: rgba(249, 249, 249, 1);
  /* 事件调查看板 */
  --event-board-feature-btns-bg-color: #fafafa;
  --event-board-left-aside-collapse-bg-color: #f5f7fa;
  --event-board-right-search-form-bg-color: #d0e8ff;
  --event-board-right-search-form-border-color: #2c8fff;
  --event-board-high-icon-color: #eea307;
  /* 分析动作 */
  --analysis-single-show-bg-color: #f6f9ff;
  /* 基础管理 --> 组织架构 */
  --manage-add-user-border: #d1d1d1;
  --analysis-single-show-title-border-color: #D7EBFF;

}
