/*选中区域*/
.cm-s-gpl-theme .CodeMirror-activeline-background {
  background: #d7d4f0;
}
.cm-s-gpl-theme .CodeMirror-selected {
  background: #d7d4f0;
}
/*行号数字*/
.cm-s-gpl-theme .CodeMirror-linenumber {
  color: #aeaeae;
}
/*引号*/
.cm-s-gpl-theme .cm-quote {
  color: #090;
}
/*关键字，例如：SELECT*/
.cm-s-gpl-theme .cm-keyword {
  color: #00f;
}
/*数字*/
.cm-s-gpl-theme .cm-number {
  color: #800;
}
/*变量2，例如：a.id中的.id*/
.cm-s-gpl-theme .cm-variable-2 {
  color: #E783E7;
}
/*注释*/
.cm-s-gpl-theme .cm-comment {
  color: #009933;
}
/*字符串*/
.cm-s-gpl-theme .cm-string {
  color: #000;
}
/*字符串*/
.cm-s-gpl-theme .cm-string-2 {
  color: #000;
}
/*括号高亮*/
.cm-s-gpl-theme .cm-bracket {
  color: #009933;
  border: 1px solid transparent;
}

/*选中高亮样式*/
.cm-matchhighlight {
  background-color: rgba(122, 210, 220, 0.2);
}

/*function*/
.cm-func {
  color: #E783E7;
}

/*limit 关键字*/
.cm-limit {
  color: #008000;
}

/*布尔搜索、命令参数*/
.cm-order-param {
  color: #FBC79B;
}

.custom-dialog {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

/*被激活的括号高亮*/
.CodeMirror-matchingbracket {
  border: 1px solid #ddd !important;
}

.query-box {
  display: flex;
  padding: 3px;
  background-color: #cbcbcb;
}

.query-box .query-field {
  border-right: 1px solid #cbcbcb;
}

.query-box .query-field input {
  background-color: white;
  border: 0 none;
  height: 22px;
  outline: 0;
  padding: 0 7px;
  width: 150px;
  margin: 0;
}

.query-box .replace-field {
  border-right: 1px solid #cbcbcb;
}

.query-box .replace-field input {
  background-color: white;
  border: 0 none;
  height: 22px;
  outline: 0;
  padding: 0 7px;
  width: 150px;
  margin: 0;
}

.query-box .query-btns {
  display: flex;
  align-items: center;
}

.query-box .replace-btns {
  padding: 0 5px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-left: 1px solid #cbcbcb;
}

.query-box .replace-btns .replace-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.query-box .replace-btns .replace-all-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.query-box .query-btns .operate-btn {
  width: 27px;
  height: 22px;
  background-color: #fff;
  border-right: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
}

.query-box .query-btns .operate-btn:last-child {
  border-right: none;
}

.query-box .close-btn {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 2px;
  cursor: pointer;
}

.cm-searching {
  background-color: transparent;
  border: 1px solid #ddd;
}

.CodeMirror-dialog .query-box .iconfont {
  font-family: iconfont !important;
}

