.idss-login {
  /* --login-bg: linear-gradient(90deg, var(--guan-7), var(--guan-4)); */
  /* --login-bg: url('../../assets/images/uebaloginbg.png'); */
  --login-loading-mask-bg: var(--color-bg-6);
  --login-panel-left-bg: var(--guan-10);
  --login-panel-right-bg: var(--light-gray-1-a90);
  --login-panel-shadow: 0px 0px 10px var(--guan-6);
  --login-panel-corner: var(--corner-m);
  --login-panel-left-title-color: var(--color-font-5);
  --login-panel-right-input-border-color: var(--color-line-default) solid var(--line-size-default);
  --login-panel-right-input-border-focus: var(--color-font-6) solid var(--line-size-default);
  --login-panel-right-input-color: var(--color-font-1);
  --login-panel-right-input-prefix-bg: var(--guan-highlight-1);
  --login-panel-right-input-prefix-color: var(--guan-highlight-7);
  --login-panel-right-input-color-error: var(--color-font-7);
  --login-panel-right-button-bg: linear-gradient(180deg, var(--guan-highlight-6), var(--guan-highlight-7));
  --login-panel-right-button-bg-hover: linear-gradient(0deg, var(--guan-highlight-6), var(--guan-highlight-7));
  --login-panel-right-button-color: var(--color-font-5);
  --login-panel-right-button-text-shadow: 0px 1px 2px var(--guan-highlight-8);
  --login-panel-right-title-color: var(--guan-9);
  --login-panel-right-link-color: var(--color-font-2);
  --login-panel-right-link-color-hover: var(--color-font-6);

  position: relative;
  height: 100%;
  min-height: 700px;
  /* background: var(--login-bg); */
  background: url('../../assets/images/uebaloginbg.png');

  .login-title{
    position: absolute;
    top: 30px;
    left: 25px;
    /* height: 22px; */
    /* width: 290px; */
    /* line-height: 22px; */
    display: flex;
    align-items: center;
    img{
      height: 20px;
      margin-right: 6px;
    }
    span{
      color: #fff;
      font-size: var(--font-size-2);
      font-weight:bold
    }
  &  {
    cursor: pointer;
  }
  }
  .idss-footer{
      position: absolute;
      bottom: 15px;
      left:0;
      right:0;
      text-align: center;
    }
  .idss-login-box{
    width: 356px;
    height: 325px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9;
    background: #042046;
    padding: 22px 28px 0;
    .idss-login-box-title{
        color: #E1EFFF;
        font-size: 18px;
        margin-bottom: 15px;
        font-weight:bold;
    }
.idss-login-box-title-tips{
  color: #E1EFFF;
  font-size: 8px;
  margin-bottom: 15px;
  font-weight:bold;
}
    .idss-login-forms{
      font-size: 14px;
      >>> .el-form-item {
        margin-bottom: 18px;
        .el-input__inner {
            /* border-color: #042046; */
            color: #386EA9;
            padding: 0 10px;
            height: 38px;
            line-height: 38px;
          }   
      }
      .login-button-container{
        margin-bottom: 0px;
        .login-button{
          width: 100%;
          color: #ffffff;
          font-size: 18px;
          background: #2167CE;
          border-color: #042046;
          &:hover{
            background-color: #1c60cb;
          }
        }
      }
      
      .idss-login-link{
        >>> .el-form-item__content{
          font-size: 12px;
          color: #COD3E7;
        }  
      }
      .idss-login-code {
        >>> .el-input__inner {
          width:calc(100% - 12px);
          border-radius: var(--input-border-radius);
        }
          >>> .el-input-group__append {
            width: 100px;
            border: var(--login-panel-right-input-border);
            border-left: 0;
            height: 38px;
            line-height: 38px;
            cursor: pointer;
            padding: 0;
            overflow: hidden;
            /* background: var(--login-panel-right-input-prefix-bg); */
            background: transparent;
            span {
              display: inline-block;
              height: inherit;
              width: inherit;
              width: 100px;
              img {
                color: var(--guan-highlight-8);
                width: inherit;
                height: 46px;
                vertical-align: middle;
                line-height: 46px;
              }
            }
          }
      }
    }
  }
  /* loading 背景 start */
  >>> .el-loading-mask {
    background-color: var(--login-loading-mask-bg);
    .el-loading-spinner {
      .el-icon-loading {
        font-size: 40px;
      }
      .el-loading-text {
        font-size: var(--font-size-1);
      }
    }
  }
  /* loading 背景 end */
}
