.idss-error-page {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 100%;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & > div {
    text-align: center;
  }
  
  h1 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 2.0rem;
    font-weight: bold;
  }

  button {
    border: none;
    background: linear-gradient(to bottom, var(--button-background-top-color), var(--button-background-bottom-color));
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 30px;
  }
  button + button {
    margin-left: 10px;
  }
}

