/* Input
--------------------------------- */
.el-input__inner {
    border-radius: var(--input-border-radius);
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: var(--input-border-active-color);
}
.el-input.is-disabled .el-input__inner{
    border-color: #DEE3E8;
    background-color: #F3F4F6;
}

/* Textarea
----------------------------------- */
.el-textarea__inner {
    border-radius: var(--textarea-border-radius);
    font-size: 1.3rem;
}

/* Select
--------------------------------- */
.el-select[stretch] {
    width: 100%;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #EFF4FA;
    font-weight: bold
}

.el-select-dropdown__item.selected {
    color: var(--select-font-color-active) !important;
}

.el-link.el-link--default:hover {
    color: var(--select-font-color-active) !important;
}

.el-select .el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner {
    border-color: var(--select-border-color-focus);
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: var(--select-font-color-active);
}

.el-select .el-popper {
    z-index: var(--zindex-base);
}

/* 多选情况下，长度被撑开处理 */
.el-select__tags-text {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.el-select-dropdown.el-popper {
    margin-top: 6px;
}

.el-select-dropdown.el-popper .popper__arrow {
    display: none;
}

/* Checkbox
----------------------------------- */
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: var(--checkbox-input-bg-color-checked);
    border-color: var(--checkbox-input-border-color-checked);
}

.el-checkbox__input.is-checked + .el-checkbox__label {
    color: var(--checkbox-label-font-color-checked);
}

.el-checkbox__inner:hover {
    border-color: var(--checkbox-input-border-color-hover);
}

/* radio
------------------------------------ */
.el-radio__inner{
    width: 16px;
    height: 16px;
}
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
    box-shadow: none;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: var(--radio-input-border-color-checked);
    /* background: var(--radio-input-bg-color-checked) */
    background: var(--white);
}

.el-radio__input.is-checked + .el-radio__label {
    color: var(--radio-label-font-color-checked);
}
/* .el-radio.is-checked:hover .el-radio__inner{
    border-color: var(--radio-input-bg-checked-hover);
}
.el-radio.is-checked:hover .el-radio__inner::after{
    background: var(--radio-input-bg-checked-hover);
} */
.el-radio__input.is-checked .el-radio__inner::after{
    width: 8px;
    height: 8px;
    background: var(--radio-input-bg-color-checked)
}
/* Tag
----------------------------------- */
.el-tag {
    background-color: var(--tag-bg-color);
    color: var(--tag-font-color);
    border-color: var(--tag-border-color);
}

.el-tag .el-icon-close {
    color: var(--tag-font-color);
}

.el-tag .el-icon-close:hover {
    background-color: var(--tag-font-color);
}

/* info */
.el-tag--info .el-tag__close {
    color: var(--tag-font-color-info);
}

.el-tag--info {
    color: var(--tag-font-color-info);
    background-color: var(--tag-bg-color-info);
    border-color: var(--tag-border-color-info);
}

/* alert */
.el-alert{
    
   &.is-light{
       padding: 5px 12px;
       border-radius: 2px;
       .el-alert__content{
            .el-alert__title{
                font-size: 12px;
                color:#3F3F3F;
            }
       }
       .el-alert__closebtn{
           color:#333333;
           top:8px;
           font-size: 16px;
           font-weight:bold;
           right: 8px;
       }
       &.el-alert--error{
            background-color: #fdecec;
            /* color: #F56C6C; */
            border:1px solid #ff6666;
       }
       &.el-alert--warning{
            background-color: #FBF8E8;
            /* color: #F56C6C; */
            border:1px solid #DEE3E8;
       }
    }
}



/* Button
------------------------------- */
.el-button {
    border-radius: var(--button-border-radius);
}

.el-button:focus,
.el-button:hover {
    color: var(--button-font-color-hover);
    border-color: var(--button-font-color-hover);
}

.el-button--primary {
    background-color: var(--guan-6);
    border-color: var(--guan-6);
}

.el-button--primary:focus,
.el-button--primary:hover {
    background: #1F78D2;
    border-color: #1F78D2;
    color: #fff;
}
.el-button--primary.is-plain{
    background-color: #F1F6FD;
    color: #4A90E2;
    border-color: #4A90E2
}

.el-button--text {
    color: var(--button-text-color);

    &:focus,
    &:hover {
        color: var(--button-text-color);
        border-color: transparent;
        background-color: transparent;
    }

    &.is-active {
        color: var(--button-text-color);
        border-color: transparent;

        .idss-svg-icon {
            fill: #5D87DD;
        }
    }

    .idss-svg-icon {
        width: 1.4em;
        height: 1.4em;
        vertical-align: middle;
        fill: var(--button-text-color);
    }

    &[gutter] {
        .idss-svg-icon {
            margin-right: 5px;
        }
    }

    &[hidePadding] {
        padding: 0;
        vertical-align: 1px;
    }
}

.el-button.idss-svg_delete-hover {
    &:not(.el-button--text) {
        &:hover, &:focus, &:visited {
            border: 1px solid #dcdfe6;
        }
    }

    &:hover, &:focus, &:visited {
        color: var(--button-delete-color);

        .idss-svg-icon {
            display: inline-block;
            fill: var(--button-delete-color);
        }
    }
}

/* 默认按钮 大按钮  */
.el-button--medium,
.el-button--medium[custom] {
    padding: 8px 15px;
    font-size: var(--font-size-14);
    border-radius: 0;

    & > span {
        vertical-align: middle;
        line-height: 12px;
    }
}

/* 小按钮 */
/* .el-button--small,
.el-button--small[custom] {
  padding: 6px 10px;
  font-size: var(--font-size-13);
  border-radius: 1px;
  & > span {
    vertical-align: middle;
    line-height: 12px;
  }
} */
/* 默认状态 */
.el-button--default[custom] {
    background: linear-gradient(#FFFFFF, #F6F6F6);
}

.el-button.is-disabled {
    svg {
        fill: var(--button-text-disabled-color);
        cursor: not-allowed
    }
}

.el-button.is-disabled:focus, .el-button.is-disabled:hover {
    svg {
        fill: var(--button-text-disabled-color);
    }
}

.el-button:focus:not(.is-disabled), .el-button:hover:not(.is-disabled) {
    svg {
        fill: var(--button-font-color-hover);
    }
}

/* 成功状态 */
.el-button--success[custom] {
    border: 1px solid var(--color-success);
    background: var(--color-success);
}

/* 告警状态 */
.el-button--warning[custom] {
    border: 1px solid var(--color-warning);
    background: var(--color-warning);
}

/* 危险状态 */
.el-button--danger[custom] {
    border: 1px solid var(--color-error);
    background: var(--color-error);
}

/* 禁用状态 - 默认 */
.el-button--default.is-disabled[custom] {
    background: linear-gradient(var(--button-defalut-color));

    svg {
        fill: #ccc;
    }
}

/* 禁用状态 - 成功 */
.el-button--success.is-disabled[custom] {
    border: 1px solid var(--button-success-disabled-color);
    background: var(--button-success-disabled-color);
}

/* 禁用状态的告警按钮 */
.el-button--warning.is-disabled[custom] {
    border: 1px solid var(--button-warning-disabled-color);
    background: var(--button-warning-disabled-color);
}

/* 禁用状态的危险按钮 */
.el-button--danger.is-disabled[custom] {
    border: 1px solid var(--button-danger-disabled-color);
    background: var(--button-danger-disabled-color);
}

/* 文字按钮 */
.el-button--text[custom] {
    color: var(--button-text-color);
    background: none;
    /* text-decoration: underline; */

    &:hover {
        text-decoration: underline;
    }
}

/* 禁用状态文字按钮 */
.el-button--text[disabled][custom] {
    color: var(--button-text-disabled-color);
    background: none;
}

.el-button--text.idss-svg_delete-hover[custom] {
    color: var(--button-delete-color);
    background: none;
}

/*圆角按钮*/
.el-button.antd-circle-btn.is-circle {
    border-color: #ECF3FC;
    padding: 4px;
    background: #ECF3FC;

    .idss-svg-icon {
        width: 12px;
        height: 12px;
    }

    &.is-disabled {
        border-color: #d9d9d9;

        svg.idss-svg-icon {
            fill: #d9d9d9;
        }

    [ class ^= "el-icon-" ] {
        color: #d9d9d9;
    }
    }

    &:not(.is-disabled) {
        .idss-svg-icon {
            fill: #4A90E2;
        }

    [ class ^= "el-icon-" ] {
        color: #4A90E2;
    }
    }

    &:not(.is-disabled):hover {
        border-color: #4A90E2;
        background: #4A90E2;

        svg.idss-svg-icon {
            fill: #FFF;
        }

    [ class ^= "el-icon-" ] {
        color: #FFF;
    }
    }
}

.el-button.antd-circle-btn + .el-button.antd-circle-btn {
    margin-left: 4px;
}

/* Tabs
--------------------------------- */


/* Popover
-------------------------- */
.el-popover {
    border-radius: var(--border-radius);
    border: var(--border-default);
}

.el-popover[x-placement^=right] .popper__arrow {
    left: -7px;
    border-right-color: var(--box-border-color);
}

/* Collapse
------------------------------- */
.el-collapse-item__header {
    padding: 0 20px;
}

.el-collapse-item__wrap {
    padding: 0 20px;
}

/* Date
--------------------------------- */
.el-date-editor[custom] {
    padding: 3px 15px;

    .el-range-separator {
        padding: 0px 2px;
    }
}

/* Steps
------------------------------- */
.el-step__icon {
    z-index: 0;
}

/* Loading
------------------------------ */
.el-loading-mask {
    z-index: var(--zindex-loading);
}

/* Form
----------------------------- */
.el-form[primary] {
    .el-input {
        width: 330px;
    }

    .el-select {
        width: 330px;
    }
    .el-textarea {
        width: 330px;
    }
}

.el-form[plain] {
    .el-form-item {
        margin-bottom: 10px;

        &__label {
            padding: 0;
            line-height: 32px;
            font-size: var(--font-size-14);
        }

        &__content {
            line-height: 32px;
        }
    }
}

.el-form[plain][type="text"] {
    .el-form-item {
        margin-bottom: 10px;

        &__label {
            padding: 0;
            line-height: 22px;
            font-size: var(--font-size-14);
        }

        &__content {
            line-height: 22px;
        }
    }
}

/* 横行表单样式 */
.el-form[plain].el-form--inline {
    .el-form-item {
        margin-right: 6px;
    }
}

/* Table
----------------------------- */
.el-table .cell {
    color: var(--table-font-default);
    font-size: var(--font-size-13);
}
.el-table .el-button--text[custom]{
    font-size: var(--font-size-13);
}
.el-table, .el-table--group {
    border: 1px solid #EBEEF5;
}

.el-table th > .cell {
    color: var(--table-header-font-color);
    font-size: var(--font-size-14);
    font-weight: bold;
}
.el-table th.is-center.el-table-column--selection > .cell{
    padding-right: 14px;
}
.el-table th.is-center.el-table-column--selection > .cell .el-checkbox{
    padding-left: 0;
}
.el-table th,
.el-table td {
    padding: 5px 0;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #F6F7F8
}

.el-table .caret-wrapper {
    height: 24px;
}

.el-table .sort-caret.ascending {
    top: 0px;
}

.el-table .sort-caret.descending {
    bottom: 2px;
}

/****表格样式一******/
/*表格行高亮*/
.el-table .idss-highlight-row {
    background-color: var(--table-row-highlight-color)
}

/*表头颜色*/
.el-table .el-table__header th {
    background-color: var(--table-header-bg-color);
    line-height: 29px;
}

/**边框色**/

.el-table td, .el-table th.is-leaf {
    border-color: var(--table-border-color);
    font-size:
}
.el-table:not(.el-table--border) td, .el-table:not(.el-table--border) th.is-leaf{
    border:none;
}
/*悬浮色*/
.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: var(--table-row-hover-bg-color)
}

/* 分页按钮样式调整
----------------------------------------- */
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    background-color: #fff;
}

.el-pagination.is-background.el-pagination--small .btn-next, .el-pagination.is-background.el-pagination--small .btn-prev, .el-pagination.is-background.el-pagination--small .el-pager li {
    border: 1px solid #DEE3E8;
    box-sizing: border-box;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    border-color: #409EFF;
}

.el-pagination.is-background .el-pagination__jump {
    margin-left: 0
}

.el-pagination__sizes .el-input .el-input__inner {
    height: 22px;
    line-height: 22px;
}

/* el-tags
------------------------------------ */
.idss-tags {
    .el-tag + .el-tag {
        margin-left: 10px;
    }
}

/*
Message
*/
.el-message-box.custom {
    border-radius: 4px;
    width: 640px;

    .el-message-box__header {
        padding: 14px 20px;
        font-weight: bold;
        border-bottom: 1px solid rgb(225, 225, 225);

        .el-message-box__title {
            color: var(--font-color-default);
            font-size: 1.4rem;
        }

        .el-message-box__headerbtn {
            top: 12px;
            z-index: 10;

            .el-message-box__close {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    .el-message-box__content {
        padding: 0;
        position: relative;

        .idss-widget {
            margin-right: 0;
        }

        /*Message组件真实content部分统一命名box__slot_content*/

        .el-message-box__slot_content {
            max-height: 420px;
            overflow: auto;
            padding: 8px 20px;
        }

        /*Message组件真实footer部分统一命名el-message-box__footer*/

        .el-message-box__footer {
            padding: 8px 20px 5px;
            text-align: center;

            .el-button + .el-button {
                margin-left: 20px;
            }
        }
    }

}

/* Dialog
--------------------------- */
.el-dialog__wrapper[custom] {
    .el-dialog {
        border-radius: 4px;
        width: 640px;
    }

    .el-dialog__header {
        padding: 12px 20px 5px;
        font-weight: bold;
        border-bottom: 1px solid rgb(225, 225, 225);

        .el-dialog__title {
            color: var(--font-color-default);
            font-size: 1.4rem;
        }

        .el-dialog__headerbtn {
            top: 12px;
            z-index: 10;

            .el-dialog__close {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    .el-dialog__body {
        padding: 18px 20px;
        position: relative;

        .idss-widget {
            margin-right: 0;
        }
    }
    .el-form{
        .el-form-item{
            margin-bottom: 18px;
            &:last-child{
                /* margin-bottom:0; */
            }
        }
    }
    .el-table{
        .el-table__header th{
            padding: 2px 0;
        }
    }

    .el-dialog__footer {
        padding: 8px 20px 20px;
        text-align: center;

        .el-button + .el-button {
            margin-left: 20px;
        }
    }
}

.dialog-more-title {
    font-weight: bold;
    position: absolute;
    top: 0;

    .dialog-more-sub-title {
        color: var(--color-primary);
        cursor: pointer;
    }
}

/* Switch */
.el-switch[custom] {
    .el-switch__label {
        color: var(--switch-default-color);
    }

    .el-switch__label.is-active {
        color: var(--switch-active-color);
    }

    .el-switch__core {
        border-color: var(--switch-border-color);
        background-color: var(--switch-bg-color);

        &:after {
            border-color: var(--switch-after-border-color);
            background-color: var(--switch-after-bg-color);
        }
    }
}

/* tooltip */
.el-tooltip__popper {
    /* 全局最大tooltip最大宽度设置 */
    max-width: 400px;
    word-break: break-all;
}


div.el-tooltip__popper.is-light {
    border: 1px solid #EBEEF5;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    &[x-placement^=bottom]{
        .popper__arrow {
            border-top-width: 0;
            border-bottom-color: #EBEEF5;
            &::after{
                border-top-width: 0;
                border-bottom-color: #FFF;
            }
        }
    }
    &[x-placement^=top]{
        .popper__arrow {
            border-bottom-width: 0;
            border-top-color: #EBEEF5;
            &::after{
                border-bottom-width: 0;
                border-top-color: #FFF;
            }
        }
    }
    &[x-placement^=left]{
        .popper__arrow {
            border-right-width: 0;
            border-left-color: #EBEEF5;
            &::after{
                border-right-width: 0;
                border-left-color: #FFF;
            }
        }
    }
    &[x-placement^=right]{
        .popper__arrow {
            border-left-width: 0;
            border-right-color: #EBEEF5;
            &::after{
                border-left-width: 0;
                border-right-color: #FFF;
            }
        }
    }
    
} 



/* 文本框后面嵌入的button颜色修改 */
.el-input-group__append {
    color: var(--white);
    border: var(--input-slot-color);
    border-radius: 1px;
    background: var(--input-slot-color);
}

/* idss-widget */
.idss-widget[custom] {
    margin-bottom: 0;

    header {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 0;
            right: 0;
            width: 100%;
            border: .5px solid var(--box-border-color);
            z-index: 1;
        }

        & .title {
            position: relative;
            background: var(--white);
            z-index: 2;
        }
    }
}

.el-drawer__body {
    padding: 20px;
}

.el-drawer:focus {
    outline: none;
}

.el-drawer > header > span:focus {
    outline: none;
    outline-color: white;
}
.el-drawer > header > button:focus {
    outline: none;
}
.el-drawer > header > button:hover {
    color: rgb(64, 158, 255);
}

.el-drawer__header {
    color: var(--font-color-default);
    font-size: 1.4rem;
    font-weight: bold;
}