/* :global(:root) 需要去掉 :global theme.var.css 才能使用变量【#929AA6】转换 rgba() 方法。 */
:root {

    /* Font 【定义字体种类、大小、数字】
    ----------------------------------------------------------------- */
    /* ------------- 种类  ------------- */
    --font-family: "Microsoft YaHei","PingFang S","Source Han Sans SC","Roboto Mono",sans-serif;
    --font-family-digital: "Arial";

    /* ------------- 大小  ------------- */
    --font-size-1: 20px; /* 最大标题 */
    --font-size-2: 18px; /* 较大标题 */
    --font-size-3: 16px; /* 大标题 */
    --font-size-4: 14px; /* 主要文字 */
    --font-size-5: 13px; /* tree 组件使用 */
    --font-size-6: 12px; /* 正文标题 */
    --font-size-sub: 12px; /* 辅助占位文字 */
    --font-size-icon: 12px;
    --font-size-default: var(--font-size-6); /* 系统默认字体大小 */

    /* ------------- 数字  ------------- */
    --font-digital-size-1: 28px; /* 超大数字 */
    --font-digital-size-2: 24px; /* 大数字 */
    --font-digital-size-3: 14px; /* 正常数字 */
    --font-digital-size-4: 12px; /* 小数字 */
    --font-digital-sub-size: 12px; /* 辅助数字 */


    /* Line 【定义线或边框的大小】
    ----------------------------------------------------------------- */
    --line-size-s: 1px;
    --line-size-m: 2px;
    --line-size-l: 3px;
    --line-size-default: var(--line-size-s);


    /* Corner 【定义边角的大小】
    ----------------------------------------------------------------- */
    --corner-s: 2px;
    --corner-m: 4px;
    --corner-default: var(--corner-s);


    /* Shadow 【阴影】
    ----------------------------------------------------------------- */
    --shadow-color: rgba(55, 61, 66, 0.15);
    --shadow-default: 1px 2px 5px var(--color-line-2);

    --shadow-dark: 2px 2px 3px 0.06px var(--shadow-color);
    --shadow-content-dark: 2px 2px 4px 0.06px var(--shadow-color);

    /* Transition
    ----------------------------------------------------------------- */
    --transition-duration: 0.3s;
    --transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);


    /* Color 【基于基础颜色定义颜色】
     ----------------------------------------------------------------- */
    /* 标题颜色 */
    --color-font-1: var(--guan-gray-8);
    --color-font-2: var(--guan-gray-7);
    --color-font-3: var(--guan-gray-5);
    --color-font-4: var(--guan-gray-3);
    --color-font-5: var(--light-gray-1); /* 白色 */
    --color-font-6: var(--blue-6); /* 主色 */
    --color-font-7: var(--volcano-6);
    --color-font-disabled: var(--color-font-4);
    --color-font-sub: var(--color-font-4);
    --color-font-default: var(--color-font-6); /* 默认主题色 */

    /* 数字颜色 */
    --color-digital-1: var(--guan-gray-8);
    --color-digital-2: var(--guan-gray-7);
    --color-digital-3: var(--guan-gray-5);
    --color-digital-default: var(--color-digital-2);
    --color-digital-sub-color: var(--color-digital-3);

    /* 线条颜色 */
    --color-line-1: var(--guan-gray-1);
    --color-line-2: var(--guan-gray-2-a50);
    --color-line-3: var(--guan-gray-2-a30);
    --color-line-default: var(--color-line-2);

    /* 背景颜色 */
    --color-bg-1: var(--blue-1);
    --color-bg-2: var(--blue-3);
    --color-bg-3: var(--light-gray-2);
    --color-bg-4: var(--light-gray-3);
    --color-bg-5: var(--light-gray-1); /* 白色 */
    --color-bg-6: var(--guan-gray-10-a80);
    --color-bg-disabled: var(--color-bg-3);
    --color-bg-default: var(--color-bg-1);
    --form-color-bg-disabled: #F3F4F6;

    /* 告警色 */
    --color-alarm-1: var(--red-7);
    --color-alarm-2: var(--red-5);
    --color-alarm-3: var(--orange-6);
    --color-alarm-4: var(--yellow-4);
    --color-alarm-5: var(--blue-4);
    --color-alarm-6: var(--light-gray-6);

    /* 级别色 @fixme【暂时保留】*/
    --color-level-emergency: var(--magenta-7);
    --color-level-error: var(--magenta-4);
    --color-level-debugger: var(--cyan-7);
    --color-level-warning: var(--magenta-5);
    --color-level-info: var(--blue-4);
    --color-level-alarm: var(--gold-7);
    --color-level-key: var(--purple-7);
    --color-level-notice: var(--geekblue-7);
}
